<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN"
   "http://www.w3.org/TR/html4/strict.dtd">
{% load webdesign %}
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>{% block head-title %}Книгохран{% endblock %}</title>
    <link rel="shortcut icon" href="{{MEDIA_URL}}i/favicon.ico" />
    {% block head-blueprint %}
        <!-- Framework CSS -->
        <link rel="stylesheet" href="{{MEDIA_URL}}css/blueprint/screen.css" type="text/css" media="screen, projection">
        <link rel="stylesheet" href="{{MEDIA_URL}}css/blueprint/print.css" type="text/css" media="print">
        <!--[if lt IE 8]><link rel="stylesheet" href="{{MEDIA_URL}}css/blueprint/ie.css" type="text/css" media="screen, projection"><![endif]-->
    {% endblock %}
    {% block head-css %}
        <link rel="stylesheet" href="{{MEDIA_URL}}css/main.css?{% now "H:i:s"  %}" type="text/css">
    {% endblock %}
    {% block head-extra %}{% endblock %}
  </head>
  <body>
    <div class="container">
      {% block container %}
      <h2 id="noscript">Для работы сайта нужен javascript. Включи уже!!!</h2>
      <script type="text/javascript">document.getElementById('noscript').style.display = 'none';</script>
      <h2>Личная библиотека</h2>
      <hr>

      <p>Читаете? Вы зашли по адресу.</p>

        <div class="span-4">
            {% block n %}
            <h3>Куда податься</h3>
            <h4>{% block n-i %}
                <a href="{% url index %}">Главная</a>{% endblock %}</h4>
            <h4>{% block n-a %}
                <a href="{% url authors:all %}">Авторы</a>{% endblock %}</h4>
            <h4>{% block n-b %}
                <a href="{% url books %}">Книги</a>{% endblock %}</h4>
            <h4>{% block n-g %}
                <a href="{% url genres %}">Жанры</a>{% endblock %}</h4>
            <h4>{% block n-r %}
                <a href="{% url reading %}">Читальный зал</a>{% endblock %}</h4>
            <h4>{% block n-m %}
                <a href="{% url my %}">Абонемент</a>{% endblock %}</h4>
            {% endblock %}
        </div>
        <div class="span-20 last">
            <div class="span-20 last">
                {% block p %}
                    <h3>{% block p-current %}Алфавитный указатель{% endblock %}</h3>
                    {% lorem 1 p %}
                    <h4>Пагинация</h4>
                    <hr/>
                {% endblock %}
            </div>
            <div class="span-20 last">
                {% block c %}
                    {% lorem 8 p %}
                {% endblock %}
            </div>
        </div>
        
      <hr>
      <h3>Трололо &copy;</h3>

      {% endblock %}
    </div>
  </body>
</html>
