{% extends 'base.html' %}

{% load thumbnail %}

{% block head-title %}{{ block.super }} : Писатели{% endblock %}

{% block head-extra %}
    <link rel="stylesheet" href="{{MEDIA_URL}}css/authors.css?{% now "sss"  %}" type="text/css">
{% endblock %}

{% block n-a %}Авторы{% endblock %}

{% block p %}
    <h3>Алфавитный указатель</h3>
    <a href="{% url authors:all %}">Все</a>&nbsp;,
    {% for l in letters %}
        <a href="{% url authors:letter l.letter %}">{{ l.letter|upper }}</a>{% if not forloop.last %}, {% endif %}
    {% endfor %}
    <hr/>
    <h4>
        Страницы: {{ authors_page.number }} из {{ authors_page.paginator.num_pages }}.
        {% if authors_page.has_previous %}
            <a href="?page={{ authors_page.previous_page_number }}">&larr;</a>
        {% endif %}
        {% if authors_page.has_next %}
            <a href="?page={{ authors_page.next_page_number }}">&rarr;</a>
        {% endif %}
    </h4>
    <hr/>
{% endblock %}

{% block c %}
    {% for a in authors %}
    <div class="authors_container">
        <div class="author_box">
            <a href={{ a.get_absolute_url }}>
                <img src="{% thumbnail a.safe_photo 50x50 %}" >
            </a>
            {% if perms.authors.edit_author %}
                <a target="_blank" href="{% url admin:authors_author_change a.pk %}"
                   title="Редактировать">
                    <img src="{{ MEDIA_URL }}i/icons/user_edit.png" />
                </a>
            {% endif %}{% if perms.authors.delete_author %}
                <a target="_blank" href="{% url admin:authors_author_delete a.pk %}"
                   title="Удалить">
                    <img src="{{ MEDIA_URL }}i/icons/user_delete.png" />
                </a>
            {% endif %}
        </div>
        <h5> {{ a }} </h5>
    </div>
    {% endfor %}
    <hr/>
    <h4>
        Страницы: {{ authors_page.number }} из {{ authors_page.paginator.num_pages }}.
        {% if authors_page.has_previous %}
            <a href="?page={{ authors_page.previous_page_number }}">&larr;</a>
        {% endif %}
        {% if authors_page.has_next %}
            <a href="?page={{ authors_page.next_page_number }}">&rarr;</a>
        {% endif %}
    </h4>
{% endblock %}
