{% extends 'base.html' %}

{% load thumbnail %}

{% block head-title %}{{ block.super }} : Писатели{% endblock %}

{% block head-extra %}
    <link rel="stylesheet" href="{{MEDIA_URL}}css/authors.css" type="text/css">
{% endblock %}

{% block n-a %}Авторы{% endblock %}

{% block p %}
    <h3>Алфавитный указатель</h3>
    <a href="{% url authors:all %}">Все</a>&nbsp;,
    {% for l in letters %}
        <a href="{% url authors:letter l.letter %}">{{ l.letter|upper }}</a>{% if not forloop.last %}, {% endif %}
    {% endfor %}
    <hr/>
    <h4>
        Страницы: {{ authors_page.number }} из {{ authors_page.paginator.num_pages }}.
        {% if authors_page.has_previous %}
            <a href="?page={{ authors_page.previous_page_number }}">&larr;</a>
        {% endif %}
        {% if authors_page.has_next %}
            <a href="?page={{ authors_page.next_page_number }}">&rarr;</a>
        {% endif %}
    </h4>
    <hr/>
{% endblock %}

{% block c %}
    {% for a in authors %}
    <div class="authors_container">
        <h5> {{ a.first_name }}{% if a.second_name %} {{ a.second_name }}{% endif %} {{ a.surname }} {% if a.nick %}({{ a.nick }}){% endif %}
            {% with a as author %}{% include '_author_buttons.html' %}{% endwith %}</h5>
        <div class="author_box">
            <a href={{ a.get_absolute_url }}>
                <img src="{% thumbnail a.safe_photo 50x50 %}" >
            </a>
        </div>
        <a href="{{ a.get_absolute_url }}" title="Количество книг на сайте">
            <img src="{{ MEDIA_URL }}i/icons/book.png" /> {{ a.book_count }}</a>
    </div>
    {% endfor %}
    <hr/>
    <h4>
        Страницы: {{ authors_page.number }} из {{ authors_page.paginator.num_pages }}.
        {% if authors_page.has_previous %}
            <a href="?page={{ authors_page.previous_page_number }}">&larr;</a>
        {% endif %}
        {% if authors_page.has_next %}
            <a href="?page={{ authors_page.next_page_number }}">&rarr;</a>
        {% endif %}
    </h4>
{% endblock %}
